<html>
<head>
    {{>elements/header}}
</head>

<body>
    <div>
        {{>elements/navbar}}
    </div>
    <div>
        <h1>Abchievements Page</h1>
        <p>
            Not yet implemented.
        </p>
    </div>
</body>

<footer>
    {{>elements/footer}}
</footer>
</html>