<html>
<head>
  {{>elements/header}}
</head>

<body class="container.fluid">
  <div>
    {{>elements/navbar}}
  </div>
  
  <!-- Banner -->
    <div class="banner text-center justify-content-center align-self-center pt-4">
        <h1 class="pt-3">Completed Goals</h1>
    </div>
  <!-- Banner -->

  <div class="row pt-4">
    <div class="col text-end mr-5">
        <a class="btn text-white" href="/goals" role="button" style="background-color: #046880">Active Goals</a>
    </div>
</body>

<footer>
    {{>elements/footer}}
</footer>
</html>