<html>
<head>
    {{>elements/header}}
</head>

<body>
    <div>
        {{>elements/navbar}}
    </div>
    
    <!-- Banner -->
    <div class="banner text-center justify-content-center align-self-center pt-4">
        <h1 class="pt-3">Goals</h1>
    </div>
    <!-- Banner -->

</body>

<footer>
    {{>elements/footer}}
</footer>
</html>