<html>
<head>
    {{>elements/header}}
</head>

<body class=".container-fluid">
    <div>
        {{>elements/navbar}}
    </div>
    
    <!-- Banner -->
    <div class="banner text-center justify-content-center align-self-center pt-4">
        <h1 class="pt-1">Goals</h1>
    </div>
    <!-- Banner -->

    <!-- Functions -->
    <div class="row pt-4 pb-4">
        <!-- Button to trigger modal-->
        <div class="col-4 pl-5 text-start">
          <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: #046880">
            Create Goal
          </button>
          <div>
          {{> newGoal}}
          </div>
        </div>   
        </div>
        <!-- Button Group -->
        <div class="col-4 text-center">
          <div class="btn-group">
            <a href="/goals" class="btn text-white active" style="background-color: #046880">Active</a>
            <a class="btn text-white" href="/complete" role="button" style="background-color: #046880">Complete</a>
          </div>
        </div>
        <!-- Logout -->        
        <div class="col-4 pr-5 text-end">
          <a id="logout" href="/logout" class="btn text-white active" style="background-color: #046880">
            Sign out
          </a>
        </div>
    </div>
    <!-- Functions -->

    <!-- Goals Table -->
    {{>goalList}}
    <!-- Goals Table -->

</body>

<footer>
    {{>elements/footer}}
</footer>
</html>