<html lang="en">
    <head>
        <title>Healthify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Home Page</h1>
        <p>
            Not yet implemented.
        </p>
    </body>
</html>