<html>
<head>
    {{>elements/header}}
</head>

<body>
    <div>
        {{>elements/navbar}}
    </div>

    <!-- Banner -->
    <section class="banner">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <h1 class="pt-4">Wellbeing Information</h1>
        </div>
    </div>
    </section>
    <!-- Banner -->

    <!-- Divider Sections -->
    <section class="text-center">
        <div class="row">
          <div class="col">
            <i class="fa fa-apple fa-5x mb-4 pt-5" style="color:#046880"></i>
            <h2 class="text-dark fw-bold mb-3 pt-3">Nutrition</h2>
            <h5 class="px-3">Fun Facts</h5>
            <ul class="list-group list-group-light">
                <li class="list-group-item border-0 px-3">Excess sugar consumption is the leading cause of obesity</li>
                <li class="list-group-item border-0 px-3">Vegetables are full of nutrients and will improve your health</li>
                <li class="list-group-item border-0 px-3">Eating food high in meatonin before bed help enhance sleep</li>
                <li class="list-group-item border-0 px-3">High fiber foods keep you feeling fuller for longer</li>
                <li class="list-group-item border-0 px-3">Portion size is the key to maintaining a healthy weight</li>
            </ul>
            <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
          </div>

          <div class="col">
            <i class="fa fa-bicycle fa-5x mb-4 pt-5" style="color:#046880"></i>
            <h2 class="text-dark fw-bold mb-3">Fitness</h2>
            <h5 class="px-3">Fun Facts</h5>
            <ul class="list-group list-group-light">
                <li class="list-group-item border-0 px-3">Brain performance is imporved with exercise</li>
                <li class="list-group-item border-0 px-3">Slow down aging with regular exercise</li>
                <li class="list-group-item border-0 px-3">Exercise is a stress reliever</li>
                <li class="list-group-item border-0 px-3">Weight can be controlled with regular exercise</li>
                <li class="list-group-item border-0 px-3">Exercise boosts your immune system</li>
            </ul>
            <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
          </div>

          <div class="col">
            <i class="fa fa-heart fa-5x mb-4 pt-5" style="color:#046880"></i>
            <h2 class="text-dark fw-bold mb-3">Lifestyle</h2>
            <h5 class="px-3">Fun Facts</h5>
            <ul class="list-group list-group-light">
                <li class="list-group-item border-0 px-3">Laughing is good for the heart</li>
                <li class="list-group-item border-0 px-3">A minimum of 7 hours sleep a day is recommended</li>
                <li class="list-group-item border-0 px-3">Socialising improves mental health</li>
                <li class="list-group-item border-0 px-3">Smoking triples the risk of dying from heart disease</li>
                <li class="list-group-item border-0 px-3">Heavy drinking increases chances of heart disease</li>
            </ul>
            <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
          </div>
        </div>
    </section>
    <!-- Divider Sections -->

</body>

<footer>
    {{>elements/footer}}
</footer>
</html>