<html>
<head>
  {{>elements/header}}
</head>

<body>
  <div>
    {{>elements/navbar}}
  </div>

  <!-- Background image -->
  <div class="heroImage p-5 text-center bg-image" style="background-image: url('./images/1.jpg');">
    <div>
      <div class="d-flex justify-content-center align-items-top h-100 pt-3">
        <div class="text-white">
          <h1 class="mb-3">HEALTHIFY</h1>
          <h4 class="mb-3">Wellbeing is fundamental to human health and overall happiness!</h4>
          <a class="btn btn-outline-light btn-lg pt-2" href="/register" role="button">Register Today</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</body>

<footer>
    {{>elements/footer}}
</footer>
</html>