<html>
<head>
    {{>elements/header}}
</head>

<body style="background-color: #BFC9CA">
    <div>
        {{>elements/navbar}}
    </div>
    <div>
        <h1>Home Page</h1>
        <p>
            Not yet implemented.
        </p>
    </div>
</body>

<footer>
    {{>elements/footer}}
</footer>
</html>